.g-lcliente{
    display: block;
    margin: 0.5% 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border: none;
    border-collapse: collapse;
}


.g-lcliente thead th{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #00909E;
    color: white;
    text-align: center;
}

.g-lcliente tr td{
    text-align: center;
}

.g-lcliente .row-selected{
    background-color: #BBCAEF;
}

.g-lcliente .row-white{
    background-color: #ffffff;
}

.g-lcliente .row-dark{
    background-color: #E9E8E8;
}
