.cliente-content-open{
    display: block;
} 


.cliente-content-closed{
    display: none
}

.cliente-content{
    border: 1px solid rgb(209, 207, 207);
    width: 100%;
    height: 70vh;
}

.cliente-content-row {
    display: flex;
    margin-left: 0.6%;
    margin-right: 0.6%;
    width: 98.8%;
    justify-content: space-between;
    align-items: flex-end;
}

.cc-r5, .cc-r6{
    width: 45%;
}

.cc-r6{
    margin-top: 20px;
}

.cc-button{
    height: 35px;
    width: 18%;
}


.cc-button-o{
    height: 35px;
    width: 8%;
}

.cc-coderp{
    width: 8.5%;
}

.cc-coderp input{
    text-align: right;
}

.cc-razao{
    width: 50%;
}

.cc-fantasia{
    width: 80%;
}

.cc-inscricaoestadual, .cc-complemento, .cc-cpfcnpj{
    width: 19%;
}

.cc-logradouro{
    width: 55%;
}

.cc-cep{
    width: 13%;
}

.cc-bairro, .cc-cidade{
    width: 27%;
}

.cc-email{
    width: 39%
}

.cc-uf{
    width: 4%;
}

.cc-telcelular, .cc-telfixo, .cc-datafundacao{
    width: 32%;
}

.modal-backdrop-transparent {
    background-color: transparent !important;
  }
  
.modal-transparent-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }