.container-sidebar{
    width: 16.5vw;
    background-color: #2c3d5b;
    color: white;
    min-height: 100vh;
}

.container-sidebar input{
    height: 40px;
    width: 97%;
    border-radius: 5px;
}

.sidebar-img img{
    height: 6vh;
    margin-top: 0.5vh;
    margin-left: 0.3vw;
}

.sidebar-img{
    height: 7vh;
}

.sidebar-open{
    display: block;
}

.sidebar-closed{
    display: none;
}