.hamburguer-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }
  
  .hamburguer-line {
    width: 80%;
    height: 2px;
    margin: 3px 0;
    background-color: #bec4ce;
  }
  
  .menu {
    display: none;
  }
  
  .menu.open {
    display: block;
  }