.active{
    border-top: 1px solid rgb(209, 207, 207);
    border-left: 1px solid rgb(209, 207, 207);
    border-right: 1px solid rgb(209, 207, 207);
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0px 0px;
    z-index: 10000;
}

.tab{
    width: 13%;
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 1%;
    cursor: pointer;
}

.tab:hover{
    border-top: 1px solid rgb(209, 207, 207);
    border-left: 1px solid rgb(209, 207, 207);
    border-right: 1px solid rgb(209, 207, 207);
}

.tab-icon-box{
    display: flex;
    justify-content: space-around;
    width: 30%;
}



.tab-action-icon{
    padding: 5%;
    background-color: rgb(235, 235, 235);
}

.tab-description{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}